doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li my list
      input(type='text').class-name#anyid
      li
      input(type='text')
      in
    block content
